
    <div class="toast-content">
        <span>@Content</span>
        @if (ShowBtn)
        {
            <button @onclick="OnClick"
                    class="toast-action">
                BtnText
            </button>
        }
    </div>


@code{
    [Parameter]
    public string Content { get; set; }

    [Parameter]
    public bool ShowBtn { get; set; } = false;

    [Parameter]
    public string BtnText { get; set; }

    [Parameter]
    public EventCallback OnClick { get; set; }
}