<div class="modal-mask">
    <div class="modal-container">
        <div class="modal-header">
            <div class="modal-title">@Title</div>
            <div class="modal-close-btn" @onclick="OnClose">
                <Icon IconFileName="close" />
            </div>
        </div>

        <div class="modal-content @ContentCss">
            @ChildContent
        </div>

        @if (ShowFooter)
        {
            <div class="modal-footer">
                <div class="modal-actions">
                    @if (ShowConfirmBtn)
                    {
                        <div class="modal-action">
                            <IconBtn Bordered Text="@ConfirmBtnText" OnClick="OnConfirmBtnClick" />
                        </div>
                    }
                    @if (ShowCancelBtn)
                    {
                        <div class="modal-action">
                            <IconBtn Bordered Text="@CancelBtnText" OnClick="OnCancelBtnClick" />
                        </div>
                    }
                </div>
            </div>
        }
    </div>
</div>