.modal-container {
    box-shadow: var(--card-shadow);
    background-color: var(--white);
    border-radius: 12px;
    width: 60vw;
    animation: slide-in ease 0.3s;
    --modal-padding: 20px;

    .modal-header {
        padding: var(--modal-padding);
        display: flex;
        align-items: center;
        justify-content: space-between;
        border-bottom: var(--border-in-light);

        .modal-title {
            font-weight: bolder;
            font-size: 16px;
        }

        .modal-close-btn {
            cursor: pointer;

            &:hover {
                filter: brightness(1.2);
            }
        }
    }

    .modal-content {
        max-height: 60vh;
        padding: var(--modal-padding);
        overflow: auto;
        border-radius:12px;
    }

    .modal-footer {
        padding: var(--modal-padding);
        display: flex;
        justify-content: flex-end;

        .modal-actions {
            display: flex;
            align-items: center;

            .modal-action {
                &:not(:last-child) {
                    margin-right: 20px;
                }
            }
        }
    }
}

@media only screen and (max-width: 600px) {
    .modal-container {
        width: 90vw;

        .modal-content {
            max-height: 50vh;
        }
    }
}